body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.20); 
    padding: 10px 0px 10px 0px;
    width: 100vw; 
    max-width: 100%; 
    left: 0;
    overflow: hidden; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0 10rem 0 0;
    display: flex;
    justify-content: end; /* Alinha os itens ao centro */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #005A8D; 
}

.logo {
    height: 10px;
}

.logo img {
    height: 100px;
    width: 100px;
    position: relative;
    top: -35px;
    left: 10rem;
}

.tela-principal {
    background-image: url("../imgs/Imagem\ principal.jpg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    height: 100dvh;
    width: 100%;
}

.texto-principal {
    padding: 0 0 0 10rem;
}

.texto-principal h1 {
    color: white;
    font-size: 96px;
    font-family: "roboto", serif;
}

.texto-principal p {
    color: white;
    font-size: 32px;
    font-weight: lighter;
    font-family: "montserrat", serif;
}

.botao {
    background-color: #005A8D;
    border-radius: 50px;
    border: none;
    width: 370px;
    height: 60px;
    padding: 10px;
    color: white;
    font-size: 32px;
}

.botao:hover {
    background-color: #004e7b;
}

.img-compromentimento{
    flex-shrink: 0;
    width: 740px; 
    height: 765px;
    background-image: url("../imgs/Imagem-fabrica.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.compromentimento {
    display: flex;
    align-items: center;
    justify-content: center; 
    max-width: 1580px;
    margin: 50px 0 50px 10rem;
    gap: 10rem ; 
}

.conteudo {
    flex: 1;
    max-width: 1200px;
}

.conteudo h2 {
    font-size: 32px;
    font-weight: normal;
    font-family: "montserrat";
    margin-bottom: 1px;
}

.conteudo h2 + p {
    margin-top: 5px;
}

.conteudo h2 span {
    color: #005A8D;
}

.conteudo p {
    font-family: "roboto";
    font-size: 20px;
    font-weight: 200
}

.beneficio h3 {
    font-family: "montserrat";
    font-size: 24px;
    margin-bottom: 5px;
}

.beneficio div > h3 + p {
    margin-top: 5px;
}

.beneficio {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.numero {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    background-color: #005A8D;
    color: white;
    font-family: "roboto";
    font-size: 48px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
}

.sustentabilidade {
    display: flex;
    flex-direction: column;
}

.hero-container {
    display: flex;
    gap: 64px;
    justify-content: center;
}

.hero {
    background-color: #fff;
    width: 480px;
    height: 685px;
    border-radius: 10px;
}

.hero h3 {
    position: relative;
    font-family: "roboto", serif;
    font-size: 24px;
    left: 1.5rem;
}

.barra-verde {
    position: relative;
    width: 165px;
    height: 3px;
    background-color: #A1D76B;
    left: 1.5rem;
}

.hero p {
    position: relative;
    font-family: "roboto", serif;
    font-size: 20px;
    font-weight: 200;
    width: 430px;
    left: 1.5rem;
}

.sustentabilidade h1 {
    position: relative;
    font-family: "roboto", serif;
    font-size: 68px;
    margin-bottom: 5px;
    left: 10rem;
}

.sustentabilidade h2 {
    position: relative;
    font-family: "montserrat", serif;
    font-weight: 500;
    color: #A1D76B;
    margin-top: 5px;
    margin-bottom: 62px;
    left: 10rem;
    width: 700px;
}