body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.20); 
    padding: 5px 0px 5px 0px;
    width: 100vw; 
    max-width: 100%; 
    height: 20%;
    left: 0;
    overflow: hidden; 
    z-index: 2;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0 5rem 0 0;
    display: flex;
    justify-content: end; 
}

nav ul li {
    margin: 0px 15px;
}

nav ul li a {
    font-family: "roboto";
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
    margin-bottom: 0;
    display: inline-block;
    transform: translateY(-5px);
}

nav ul li a:hover {
    color: #005A8D; 
}

.logo {
    height: 10px;
}

.logo img {
    height: auto;
    width: 8rem;
    position: relative;
    top: -35px;
    left: 10rem;
}

.tela-principal {
    background-image: url("../imgs/close-up-warehouse-view.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgb(113, 113, 113);
    display: flex;
    height: auto;
    width: 100%;
}

.texto-principal {
    padding: 8rem 0 10rem min(10rem, 5%);
}

.texto-principal h1 {
    color: white;
    font-size: clamp(4.2rem, 5vw, 6rem);
    font-family: "roboto", serif;
    margin-bottom: 0.625rem;
    width: 80%;
}

.texto-principal p {
    color: white;
    font-size: clamp(1.55rem, 1.85vw, 2.25rem);
    font-weight: lighter;
    font-family: "montserrat", serif;
    margin-top: 0.625rem;
    width: 75%;
}

.botao {
    background-color: #005A8D;
    border-radius: 50px;
    border: none;
    width: clamp(15rem, 20.67vw, 22.5rem);
    height: clamp(2rem, auto, 3.75rem);
    padding: 10px;
    color: white;
    font-size:clamp(1.25rem, 1.5vw, 1.75rem);;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.botao:hover {
    background-color: #004e7b;
    cursor: pointer;
}

.img-compromentimento{
    flex-shrink: 1;
    width: 50%; 
    height: clamp(42rem, 44vh, 47.813rem);
    background-image: url("../imgs/Imagem-fabrica.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.25);
}

.compromentimento {
    display: flex;
    align-items: center;
    justify-content: center; 
    max-width: 90%;
    gap: 3rem; 
    padding: 2rem 2rem 2rem min(10rem, 5%);
}

.conteudo-compromentimento {
    flex: 1;
}

.conteudo-compromentimento h2 {
    font-size: clamp(1.25rem, 2vw, 2rem);
    font-weight: 600;
    font-family: "montserrat";
    margin-bottom: 1px;
    width: 90%;
}

.conteudo-compromentimento h2 span {
    color: #005A8D;
}

.conteudo-compromentimento p {
    margin-top: 5px;
    font-family: "roboto";
    font-size: clamp(0.85rem, 1.2vw, 1.65rem);
    font-weight: 200;
    width: 90%;
}

.beneficio h3 {
    font-family: "montserrat";
    font-size: clamp(1rem, 1.55vw, 3rem);
    margin-bottom: 5px;
    width: 90%;
}

.beneficio div > h3 + p {
    margin-top: 5px;
}

.beneficio {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 90%;
}

.numero {
    width: clamp(3rem, 5vw, 4.375rem);
    height: clamp(3rem, 5vw, 4.375rem);
    background-color: #005A8D;
    color: white;
    font-family: "roboto";
    font-size: clamp(2rem, 2.75vw, 3rem);
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
}

.sustentabilidade {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sustentabilidade::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../imgs/white-texture.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.25; 
    z-index: -1; 
}

.sustentabilidade h1 {
    position: relative;
    font-family: "roboto", serif;
    width: 50%;
    font-size: clamp(2rem, 3.5vw, 4.25rem);
    margin-bottom: 5px;
    padding: 0 0 0 min(10rem, 5%);
}

.sustentabilidade h2 {
    position: relative;
    font-family: "montserrat", serif;
    font-weight: 500;
    font-size: clamp(1rem, 1.45vw, 1.65rem);
    color: #A1D76B;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 0 0 0 min(10rem, 5%);
    width: 50%;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    gap: min(0rem);
    justify-content: space-evenly;
    width: 100%;;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: clamp(18rem, 25vw, 29.5rem);
    height: clamp(28rem, 38vw, 40rem);
    border-radius: 10px;
    box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 4rem;
}

.logo-hero {
    width: 44px;
    height: auto;
    margin-top: 34px;
    margin-left: 1.5rem;
}

.hero h3 {
    position: relative;
    font-family: "roboto", serif;
    font-size: clamp(0.85rem, 1.25vw, 1.5rem);
    left: 1.5rem;
    width: 80%;
    margin-bottom: 0px;
}

.barra-verde {
    position: relative;
    width: 8rem;
    height: 3px;
    background-color: #A1D76B;
    margin-top: 12px;
    margin-bottom: 12px;
    left: 1.5rem;
}

.hero p {
    position: relative;
    font-family: "roboto", serif;
    font-size: clamp(0.875rem, 0.95vw, 1rem);
    font-weight: 200;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 20px;
    left: 1.5rem;
}

.imagem-hero {
    margin: auto;
    max-width: 90%;
    height: auto;
    border-radius: 15px;
}

.sobre {
    background-image: url("../imgs/img-fabrica-sobre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(113, 113, 113);
    height: auto;
}

.conteudo-sobre {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 min(10rem, 5%);
    justify-content: center;
    height: clamp(45rem, 45vw, 55rem);
}

.conteudo-sobre h1 {
    color: #ffffff;
    font-family: "roboto";
    font-size: clamp(2.45rem, 3.5vw, 4rem);
    margin-bottom: 0;
}

.barra-branca {
    background-color: white;
    width: clamp(12rem, 17vw, 18.5rem);
    height: 5px;
    margin-top: 0;
}

.conteudo-sobre p {
    color: #ffffff;
    width: 90%;
    font-family: "roboto", serif;
    font-weight: 200;
    font-size: clamp(1.25rem, 1.65vw ,2rem);
}

#depoimentos {
    text-align: center;
    padding: 40px 20px;
}

h1 {
    font-family: "roboto";
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.destaque {
    color: #005A8D;
}

.subtitulo {
    font-family: "roboto";
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 0.5rem;
}

/* Container dos cards */
#container-depoimentos {
    display: flex;
    justify-content: center;
    gap: min(1rem);
    flex-wrap: wrap;
}

/* Estilização dos cards */
.card-avaliacao {
    font-family: "roboto";
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: clamp(22rem, 25vw, 29.5rem);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Usuarios */
.usuarios {
    width: 5rem;  
    height: auto; 
    object-fit: cover; 
}

/* Informações do usuário */
.usuario-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.usuario-detalhe h3 {
    font-size: 1rem;
    margin: 0;
}

.cargo {
    font-size: 0.85rem;
    font-weight: 300;
    margin: 2px 0 10px;
}

/* Comentários */
.comentario {
    font-size: 0.875rem;
    font-weight: 300;
    margin-bottom: 10px;
}

/* Estrelas */
.estrela {
    height: 1.5rem;
}

/*footer*/

#rodape{
    background-color: #f8f8f8;
    padding: 20px 40px;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.logo-contato{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.logo{
    width: 177px;
    height: auto;
}

.paragrafos{
    font-family: "roboto";
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-weight: 200;
    text-align: left;
    gap: 4.375rem;
}

.fale-conosco{
    font-family: "roboto";
    text-align: center;
    max-width: 400px;
}

.fale-conosco h3{
    font-size: 2rem;
    margin-bottom: 10px;
}

.fale-conosco p{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 15px;
}

.linha{
    width: 100%;
    height: 2px;
    background-color: #004e7b;
    margin: 20px 0;
}

.direitos{
    font-family: "roboto";
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Mobile (menores que 768px) */
@media (max-width: 450px) {
    .container {
        width: 100%;
    }

    .tela-principal {
        height: 900px;
    }

    .texto-principal{
        padding: 1.5rem;
    }

    .texto-principal h1 {
        font-size: 40px;
    }

    .texto-principal p {
        font-size: 28px;
    }

    .compromentimento {
        flex-direction: column; 
        gap: 2rem; 
    }

    .img-compromentimento {
        width: 350px;
        height: 220px;
        justify-content: center;
    }
    .beneficio {
        width: 90%;
    }

    .sustentabilidade {
        flex-direction: column;
    }


    .sustentabilidade h2 {
        font-size: 20px;
        width: 90%;

    }

    .hero {
        width: 90%;
        height: auto;
        margin-bottom: 10px;
        padding: 10px;
    }

    .logo-hero {
        width: 40px;
    }

    .hero h3 {
        font-size: 20px;
        width: 90%;
    }

    .hero p {
        font-size: 18px;
        width: 90%;
        margin-bottom: 20px;
    }

    .imagem-hero {
        height: auto;
        width: 200px;
    }

    .conteudo-sobre p{
        font-size: 18px;
    }
}